<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./app.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="w2-form">
      <img src="/assets/w2form.jpg" />
      <div class="ssn">
        <input />
      </div>
      <div class="ein">
        <input />
      </div>
      <div class="e-name">
        <input />
      </div>
      <div class="e-address">
        <input />
      </div>
      <div class="e-zip-code">
        <input />
      </div>
      <div class="control-number">
        <input />
      </div>

      <div class="e-name2">
        <input />
      </div>
      <div class="e-address2">
        <input />
      </div>
      <div class="e-zip-code2">
        <input />
      </div>
      <div class="state">
        <input />
      </div>
      <div class="wages">
        <input />
      </div>
      <div class="federel-tax">
        <input />
      </div>
      <div class="social-wages">
        <input />
      </div>
      <div class="social-tax">
        <input />
      </div>
      <div class="medicare-wages">
        <input />
      </div>
      <div class="madicare-tax">
        <input />
      </div>
      <div class="social-tips">
        <input />
      </div>
      <div class="allocated-tips">
        <input />
      </div>
      <div class="care-benefits">
        <input />
      </div>
      <div class="e-id-number">
        <input />
      </div>
      <div class="state-wages-tips">
        <input />
      </div>
      <div class="income-tax">
        <input />
      </div>
      <div class="local-wages">
        <input />
      </div>
      <div class="local-income-tax">
        <input />
      </div>
      <div class="locality-name">
        <input />
      </div>
      <div class="other">
        <input />
      </div>
      <div class="non-qualified-plans">
        <input />
      </div>
      <div class="tax-code-amount-a">
        <input />
      </div>
      <div class="tax-code-a">
        <input />
      </div>
      <div class="tax-code-amount-b">
        <input />
      </div>
      <div class="tax-code-b">
        <input />
      </div>
      <div class="tax-code-amount-c">
        <input />
      </div>
      <div class="tax-code-c">
        <input />
      </div>
      <div class="tax-code-amount-d">
        <input />
      </div>
      <div class="tax-code-d">
        <input />
      </div>
      <div class="checkbox-1">
        <input />
      </div>
      <div class="checkbox-2">
        <input />
      </div>
      <div class="checkbox-3">
        <input />
      </div>
    </div>
  </body>
</html>
