<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Dear {{employee_name}},</p>
    <p>Thank you for using Saurellius by Dr. Paystub Corp to
      access your paystub. We hope that our software was able to meet your needs
      and provide you with an efficient and user-friendly experience.
    </p>
    <p>Attached to this email, you will find a copy of your paystub. Please
      review it carefully to ensure that all information is correct. If you have
      any questions or concerns, please do not hesitate to contact our customer
      support team for assistance.
    </p>
    <p>We value your business and hope that you will consider Dr. Paystub Corp
      for any future paystub needs. If you found our software to be helpful, we
      would greatly appreciate it if you could leave us a review on our website
      or social media channels.
    </p>
    <p>Thank you again for choosing Saurellius by Dr. Paystub Corp.
    </p>
    <div>Sincerely,</div>
    <p>&copy; 2026 Saurellius by Dr. Paystub Corp</p>
  </body>
</html>